<h1>Trips</h1>

<%= link_to 'Add Trip', new_travel_path %>
<hr />
<h2><%= @travels.length <= 0 ? "No Trips" : "" %></h2> 
<ul>
  <% @travels.each do |travel| %>
    <li>
      <%= link_to travel.name, travel %>
    </li>
  <% end %>
</ul>